* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Barlow', sans-serif;
  background-color: hsl(0, 5%, 71%);
  line-height: 1.6;
  font-size: 16px;
  width: 100%;
    height: 100%; 
}



.container {
  width: 100%;
}


.header {
  background-image: url('images/desktop/image-header.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  /* The direction column, flex, and spacebetween made the navbar and
   logo to be on thesame line therbey leaving the 
  header to be on a diffrent line because of the div div used */
}

/* This is for the logo and the nav-bar so they both can be on thesame line */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* for d Logo on the left */
.logo {
  font-size: 24px;
  font-weight: bold;
  color: rgb(179, 7, 7);
}

/* for d Navbar list on the right */
.navbar {
  list-style: none;  /* use dto remove the numbering*/
  display: flex;
  font-size: 16px;
}

.navbar li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 8px 16px;
}

/* for only contact navbar. Just to get the rounded shaped and uppercase */
.navbar .contact {
  background-color: white;
  color: hsl(200, 100%, 30%);
  border-radius: 5rem;
  text-transform: uppercase;
}

/* for the title we are creative */
.header-title {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 22rem;
  color: white;
}

.header::after {
    content: url('images/icon-arrow-down.svg');
    position: absolute;
    bottom: 11rem;
    transform: translateX(-50%);
    display: flex;
    left: 50%;
    padding-bottom: 6rem;
    height: 2rem;
}

/* d container holds both text and image */
.transform {
  display: flex;
  width: 100%;
  height: 35rem; /* the height of the conatiner*/
  
}

/* 4 the left tet */
.text-content {
  flex: 1; /* Takes 50% of d container */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2px;
  background-color: white; 
  align-items: center;
  
}

/* Right side of the conatiner is d Image */
.image-content {
  flex: 1; /* Takes 50% also. making both side equal */
}

.image-content img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* make sure the  image covers the space well */
  display: block;
}

.brand {
  font-size: 36px;
  font-weight: bold;
  text-align-last: auto;  /*i want the text not to drop at the center*/

}

.p-1 {
  font-size: 16px;

  margin-bottom: 20px;
}

.learn-more {
  text-decoration: underline;
  font-weight: bold;
  color: hsl(51, 84%, 49%);
  text-transform: uppercase;
  text-decoration: underline cornsilk;
}


.learn-mor {
  text-decoration: underline;
  font-weight: bold;
  color: hsl(51, 88%, 3%);
  text-transform: uppercase;
  text-decoration: underline rgb(227, 139, 109);
}


/* for the testimonials */
.services {
    display: flex;
    width: 100%;
    height: 20rem;
}


.design,
.photography {
    flex: 1;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    color: hsl(167, 40%, 24%);
    height: 20rem;
}

.design {
    background-image: url('images/desktop/image-graphic-design.jpg');
    color: hsl(167, 40%, 24%);
}

.photography {
    background-image: url('images/desktop/image-photography.jpg');
    color: hsl(198, 62%, 26%);
}

.design h1,
.photography h1 {
    font-family: 'Fraunces', serif;
    font-size: 28px;
    margin-bottom: 1rem;
}

.design p, .photography p{
    font-size: 16px;
    max-width: 75%;
    margin: 0 auto;
}

.pp{
      padding-bottom: 0.6rem}

/* Testimonials */

.testi{
  background-color: white;
  padding: 6rem 4rem;
  text-align: center;
  
}

.testimonial{
  flex: 1;
  padding: 0 1rem;
}

.t-img{
  border-radius:  50%;
  width: 60px;
  margin-bottom: 2rem;  
  

}

.ttext{
  font-size: 16px;
}

.nam h2{
  font-size: 14px;
  font-family: 'fraunces',serif;
  color: hsl(212, 27%, 19%);

}

.nam h3{
  font-size: 14px;
  font-family: 'fraunces',serif;
  color: hsl(210, 4%, 67%);

}

.testimonials{
  display: flex;
  width: 100%;
  height: 20rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.sub{
  display: flex;
  text-align: center;
  justify-content: center;
  padding-bottom: 3rem;
  padding-top: 3rem;
}


/* Gallery */

.pho {
    display: flex;
}

.pho div {
    flex: 1;
}

.ph3 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Footer */

.fff {
    background-color: hsl(168, 34%, 41%);
    padding: 4rem 2rem;
    text-align: center;
}




.footer .footimage {
    filter: brightness(0) saturate(100%) invert(25%) sepia(19%) saturate(336%) hue-rotate(118deg) brightness(92%) contrast(88%);
    margin-bottom: 2rem;
}

.down-navbar {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.down-navbar a {
    text-decoration: none;
    color: hsl(167, 40%, 24%);
    font-weight: 600;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 2rem;
    color: white;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}